<% if spree_current_user %>
  <%= nav_link t(:my_account), spree.account_path, { :id => 'my-account-link' } %>
  <li><%= link_to t(:logout), spree.destroy_user_session_path %></li>
<% else %>
  <%= nav_link t(:login), spree.login_path, { :id => 'link-to-login' } %>
<% end %>
